{%
  set classes = [
  'row',
  'image-text-vertical-align',
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="col-md-6{% if content.field_text_position.0['#markup'] == 'Right' %} col-md-push-6{% endif %}">
    <div class="wrapper">
      <h4 class="field--name-field-title text-center">
        {{ content.field_title['#items'].getString() }}
      </h4>
      <p class="field--name-field-text text-center">
        {{ content.field_text['#items'].getString() }}
      </p>
    </div>
  </div>
  <div class="field--name-field-image col-md-6{% if content.field_text_position.0['#markup'] == 'Right' %} col-md-pull-6{% endif %}">{{ content.field_image }}</div>
</div>
