/**
 * Place your custom styles here.
 */
@font-face{
    font-family:"ProximaNova";
    src:url(/themes/custom/kinect_consulting/fonts/Proxima-Nova-Light.ttf) format("truetype");
}
@font-face{
    font-family:"ProximaNovaBold";
    src:url(/themes/custom/kinect_consulting/fonts/Proxima-Nova-Bold.otf) format("opentype");
}
.dialog-off-canvas-main-canvas {
    max-width: 1680px;
    margin: 0 auto;
    overflow: hidden;
    font-family: ProximaNova,Arial,Helvetica,sans-serif;
}
.main-container {
    width: 100%;
    max-width: 1680px;
    padding: 0;
}
/* TOP BAR */

header .container {
    width: 100%;
    max-width: 1680px;
    border-bottom: 1px solid rgba(20,35,64,.07);
    padding: 0 33px;
}
.navbar-header {
    background-color: #FFF;
}
.navbar-default {
    background: none;
    border: none;
    margin: 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
    height:4px;
}
.navbar-default .navbar-toggle {
    border: none;
    margin-top: 15px;
}

.navbar.container {
    max-width: none;
    width: 100%;
    border: none;
    background: #FFF;
    padding: 0 4rem;
    left: 0;
    position: fixed;
    text-align: right;
    top: 0;
    z-index: 200;
    margin: 0 2rem;
}
.logo.navbar-btn img {
    width: 100px;
}
.navbar-brand,
#block-kinect-consulting-account-menu {
    display: none;
}

.navbar-default .navbar-nav > li > a {
    font-size: 15px;
    padding: 1rem 3rem;
    color: #8fb3d4;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #0f73c4;
    outline: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #0fc477 !important;
    font-weight: 700;
    background: none;
}
#block-kinect-consulting-main-menu {
    clear: both
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background-color: rgba(20,36,65,.94);
}
/* STANDARD PAGE */
.standard-content-page h1,
.article h1{
    font-size: 43px;
    line-height: 1.4;
    font-weight: 700;
    margin: 0 0 4rem;
    color: #1f81c3;
}
.standard-content-page .field--name-field-paragraphs {
    padding: 0 0.5rem;
}
.standard-content-page .copywide,
.article .copywide {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    overflow: hidden;
    position: relative;
    max-width: 1100px;
    margin: 3rem auto 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1.5rem;
}

.standard-content-page .field--name-body p {
    margin: 4rem 0;
}
.standard-content-page .field--name-body {
    font-size: 1.8rem;
    color: #807e7f;

}
ol, ul {
    list-style: none;
}
ol li:before, ul.bullets li:before, .copywide ul li:before {
    color: #8fb3d4;
    content: '\2022';
    display: block;
    font-size: inherit;
    max-width: 0;
    max-height: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.rtecenter {
    text-align: center;
}
.copywide ul li {
    padding-left: 35px;
    padding-left: 3.5rem;
    color: #807e7f;
    position: relative;

}
p+p {
    margin-top: 10px;
    margin-top: 1rem;
    margin-bottom: 10px;
    margin-bottom: 1rem;
}

p {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.4;
    margin-bottom: 10px;
    margin-bottom: 1rem;
}
b, strong {
    font-family: ProximaNovaBold,Arial,Helvetica,sans-serif;
    font-weight: 400;
}
/* FOOTER */
.footer.container {
    background: #807f7f;
    color: #fff;
    padding:0;
    width: 100%;
    max-width: 1680px;
}
.region-footer {
    margin: 5rem 7rem 3rem;
}
.region-footer nav {
    text-align: center;
    margin-top: 4rem;
}
.region-footer .field--name-body {
    font-size: 12px;
}
.menu--footer.nav li {
    display: inline-block;
    margin: 0 0 .25em 1.5em;
}
.menu--footer.nav li a,
.menu--footer.nav li a:hover,
.menu--footer.nav li a:active {
    color: #FFF;
    font-size: 18px;
    background: none;
    outline: none;
    padding: 0;
    margin: 0;
}
.address-item {
    padding-bottom: 9px;
}

/*  BUTTONS */
.agree-button:hover, .agree-button:focus,
.field--name-field-cta a:hover,
.field--name-field-cta a:focus,
.form-actions button:hover {
    background: #f0f0f1;
    border: 1px solid #0fc477;
    color: #0fc477;
}

.agree-button,
.field--name-field-cta a,
.form-actions button {
    background: #0fc477;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    line-height: initial;
    min-height: 38px;
    min-width: 170px;
    padding: 11px 20px 9px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    border-color: #0fc477;
}


/* GPDR Cookies */
#sliding-popup .popup-content #popup-text p {
    font-size: 12px;
    line-height: 1.4;
}
#sliding-popup .open-settings {
    vertical-align: middle;
    display: inline-block;
    margin: 8px 12px;
    color: #0fc477;
    font-size: 18px;
    text-decoration: none;
}
#sliding-popup .open-settings:hover {
    color: #0fc477;
    text-decoration: none;
}
#sliding-popup .cookie-policy-form .vertical-tabs {
    margin-left: 0;
}

/* HERO */

.field--name-field-hero .hero-image {
    background-size: cover;
    background-position: right;
    height: 350px;
    position: relative;
}

.field--name-field-hero.split > .field--item:last-child .hero-image {
    background-position: left;
}
.hero-image {
    position: relative;
    min-height: 100px;
}

.hero-image .content-wrapper .field--name-field-cta {
    position: absolute;
    left: 0;
    bottom: 40px;
    right: 0;
    text-align: center;
}


/* BREAKPOINTS */
@media screen and (min-width: 768px) {
    .navbar-nav {
        float: right;
        bottom: 15px;
        position: absolute;
        right: 8.3%;
    }
    header.navbar,
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        background-color: #FFF;
        border: none;
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 12px;
        color: #6a747c;
        padding: 0 0.5rem;
    }
}
@media screen and (min-width: 960px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 14px;
    }
}
@media screen and (min-width:1024px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 15px;
        padding: 0 1rem 5px;
    }
    .field--name-field-hero .hero-image {
        height: 440px;
    }
    .field--name-field-hero.split > .field--item {
        width: 50%;
        float:left;
    }
    .logo.navbar-btn img {
        width: 150px;
    }
    .main-container {
        margin-top: 40px;
    }
    .standard-content-page .field--name-field-paragraphs {
        max-width: 1560px;
        margin: 0 6rem;
    }
}
@media screen and (min-width:1200px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 16px;
        padding: 10px;
    }
    .logo {
        margin: 8px 0 0;
        padding: 0;
    }
    .logo.navbar-btn img {
        width: 193px;
    }
}
@media screen and (min-width:1360px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 18px;
        padding: 11px 15px;
    }
}

/* ImageText component */
.paragraph--type--image-text {
    margin-top: 2.5rem;
}

.paragraph--type--image-text .field--name-field-image img {
    max-height: 400px;
    width: 100%;
}
.paragraph--type--image-text h4 {
    font-family: ProximaNovaBold,Arial,Helvetica,sans-serif;
    font-weight: 400;
}
.paragraph--type--image-text .wrapper {
    margin: 15% 10% 10% 10%;
}
.paragraph--type--image-text > [class*="col-"] {
    padding-right: 0px;
    padding-left: 0px;
}
@media (min-width: 992px) {
    .image-text-vertical-align {
        display: flex;
        align-items: center;
    }
}

/* Blog search page */
.article-vertical-item-list img {
    margin: 0 auto;
}
.view-display-id-articles_main_page .view-header h2 {
    font-size: 4.8rem;
    line-height: 1.4;
    color: #0fc477;
    margin-bottom: 34px;
    text-align: center;
}

.view-display-id-articles_main_page .view-filters {
    text-align: center;
}

.view-display-id-articles_main_page .form--inline .form-item {
    padding-right: 25px;
}

.view-display-id-articles_main_page .select-wrapper:after {
    display: none;
}

.view-display-id-articles_main_page .select-wrapper select {
    background: url(../images/select_arrows.png) no-repeat center right #f0f0f1;
    height: 38px;
    padding-right: 50px;
    border: 0;
}

.view-display-id-articles_main_page .form-actions button {
    padding: 9px 20px 9px 20px;
}

.view-display-id-articles_main_page .form-actions button > span.glyphicon-search {
    display: none;
}

.block-views-blockblog-articles-block-recent-articles h2.block-title {
    font-size: 2.8rem;
    color: #7f7f7f;
    margin-bottom: 44px;
    text-align: center;
}

.block-views-blockblog-articles-block-recent-articles {
    background: #ebebeb;
}

.view-display-id-articles_main_page .view-filters {
    margin-bottom: 50px;
}

.block-views-blockblog-articles-block-recent-articles .view-content {
    font-size: 17px;
}

.block-views-blockblog-articles-block-recent-articles .views-row {
    margin-bottom: 30px;
}

.block-views-blockblog-articles-block-recent-articles .views-row .views-field-field-image {
    margin-bottom: 15px;
}

.block-views-blockblog-articles-block-recent-articles .views-row .views-field-field-image img {
    border-radius: 4px;
}

.block-views-blockblog-articles-block-recent-articles .views-row .views-field-title a {
    font-size: 2rem;
    line-height: 1.4;
    color: #7f7f7f;
}

.row.article-item-list {
    padding-bottom: 25px;
    border-bottom: 1px solid #dadcde;
    margin-bottom: 25px;
    font-size: 17px;
}

.row.article-item-list .article-content {
    min-height: 110px;
}

.row.article-item-list h2.article-title {
    margin-top: 0;
}

.row.article-item-list .article-title a,
.row.article-vertical-item-list .article-title a{
    font-size: 2rem;
    line-height: 1.4;
    color: #807e7f;
}

.row.article-vertical-item-list .article-created-and-category {
    margin-top: 20px;
}

.field--name-field-paragraphs .paragraph--type--hero-item {
    margin-top: 40px;
    margin-left: -8%;
    margin-right: -8%;
}

.field--name-field-paragraphs .paragraph--type--hero-item .content-wrapper .field--name-field-cta {
    padding-bottom: 40px;
    padding-top: 20px;
}

/* Paragraph variations */

.paragraph.paragraph--style--dark .hero-wrapper .content-wrapper {
    background-color: #142441;
    padding-top: 40px;
    padding-left: 14%;
    padding-right: 14%;
}

@media screen and (max-width:414px) {
    .paragraph.paragraph--style--dark .hero-wrapper .content-wrapper {
        text-align: center;
    }
}

.paragraph.paragraph--style--dark .hero-wrapper .content-wrapper h3 .field--name-field-title {
    color: #807e7f;
    font-size: 2rem;
    line-height: 1.4;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.paragraph.paragraph--style--dark .hero-wrapper .content-wrapper h3 .field--name-field-text {
    color: #0f73c4;
}


/* ABOUT */

table.two-cols {
    border: none;
}
table.two-cols td {
    width: 50%;
    padding: 0 7px;
    color:#5a7390;
    vertical-align: top;
}
table.one-col td, table.two-cols td, table.three-cols td, table.four-cols td, table.five-cols td {
    display: table-cell;
    padding: 2px 7px;
    border: none;
}
.paragraph--type--content h1, .paragraph--type--content h2, .paragraph--type--content h3 {
    font-family: ProximaNova,"Lucida Grande";
    color:#142441;
    font-size: 22.5px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-bottom: 3rem;
}
.paragraph--type--content h1 span {
    color: #807e7f;
}

/* Blog */
.view-display-id-articles_main_page {
    padding: 0 10%;
}

.post-date-wrapper {
    margin: auto;
    width: 271px;
}

.post-date-wrapper > .form-item {
    float: left;
}

.view-display-id-articles_main_page .form--inline > div {
    margin-bottom: 10px;
}

.view-display-id-articles_main_page .form--inline > .form-type-select:not(.post-date-wrapper) select {
    width: 245px;
}

.recent-articles-items-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.recent-articles-items-wrapper .article-content {
    text-align: justify;
}

.recent-articles-items-wrapper > .views-row {
    max-width: 300px;
}

@media screen and (max-width:414px) {
    .view-display-id-articles_main_page .form--inline .post-date-wrapper {
        width: 246px;
    }

    .view-display-id-articles_main_page .form--inline > .form-item,
    .view-display-id-articles_main_page .form--inline .post-date-wrapper > .form-item-month {
        padding-right: 0;
    }
}

@media screen and (max-width:768px) {
    .view-display-id-articles_main_page .view-header h2 {
        font-size: 3.3rem;
    }
}

.views-articles-title h1 {
    font-size: 4.8rem;
    line-height: 1.4;
    padding-bottom: 15px;
    margin-bottom: 25px;
    color: #807e7f;
}

/* Article */

.article .copywide {
    padding-left: 30px;
    padding-right: 30px;
}

.article p {
    color: #807e7f;
    margin-top: 40px;
}

.article h2 {
    font-size: 4.3rem;
    color: #00acf2;
}

.article h3 {
    font-size: 4.3rem;
    line-height: 1.4;
    color: #807e7f;
}

.article ol {
    counter-reset: sb-bullets;
}

.article ol li {
    padding-left: 3.5rem;
    color: #807e7f;
    position: relative;
    font-size: 1.8rem;
}

.article ol li::before {
    color: #8fb3d4;
    content: counter(sb-bullets) ":";
    counter-increment: sb-bullets;
    display: inline;
    font-family: ProximaNova,Arial,Helvetica,sans-serif;
    font-size: inherit;
    position: absolute;
    left: 0;
    top: 0;
}

.article hr {
    border: 1px solid gray;
}

section.block-views-blockblog-articles-block-related-articles {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1110px;
}

.article .category {
    text-align: center;
}

.article .category a {
    color: #0fc477;
    font-size: 1.8rem;
}

section.block-views-blockblog-articles-block-categories h2 {
    font-size: 2.8rem;
    color: #0fc477;
    padding-bottom: 18px;
}

section.block-views-blockblog-articles-block-categories .views-field-field-category a {
    font-size: 2.2rem;
    color: #807e7f;
}

section.block-views-blockblog-articles-block-articles-author h2 {
    margin-bottom: 5px;
}

section.block-views-blockblog-articles-block-articles-author::after {
    border-bottom: 1px dotted;
    padding-bottom: 25px;
    margin-bottom: 10px;
    width: 50%;
}

section.block-views-blockblog-articles-block-articles-author,
section.block-views-blockblog-articles-block-articles-author h2{
    color: #0f73c4;
    font-size: 1.8rem;
}

.region-sidebar-second {
    background: none;
    border: none;
    box-shadow: none;
}

/* Iframe component */
.iframe-wrapper {
    text-align: center;
}

/* Paragraph content */
.field--name-field-paragraphs .paragraph--type--content {
    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: -8%;
    margin-right: -8%;
}

.paragraph--type--content.color-verypale {
    background: #e2e2e2;
}
